html {
    font-size: 26px;
    background-color: #fdf5e8;
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Prociono", serif;
}

#env {
  background: #f00;
  text-align:center;
}



#Logo {
    display: block;
    margin: 1rem auto 0px auto;
    width: 80vw;
    max-width: 693px;
}


.Section {
    width: 92vw;
    max-width: 798px;
    margin: 0rem auto 3rem auto;
}


.Section_heading {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
}


.Section_paragraph {
    margin-top: 0.7rem;
    line-height: 1.4rem;
    hyphens: auto;
    font-size: 1rem;
}


.Aflevering {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    text-align: center;
}


#BTCPay {
    margin-top: 1.4rem;
    text-align: center;
}


#Meetup_tabel {
    width: 90%;
    margin: 1.4rem auto 3rem auto;
}


#Meetup_tabel tr th,td {
    border: 0.1rem solid #FDE3C0;
    padding: 0.1rem;
    text-align: center;
    font-size: 1rem;
}


#Social_media {
    display: flex;
    width: 80%;
    margin: 1.4rem auto 6rem auto;
    justify-content: space-around;
    align-items: center;
}


footer {
    width: 100vw;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0px 0px;
    background-color: #E69703;
}


footer p {
    text-align: center;
    font-size: 0.8rem;
}




@media screen and (max-width:1200px) {
    
    html {
        font-size:calc(1.41vw + 8px);
    }
}

@media screen and (max-width:600px) {
    
    #Social_media {
        flex-direction: column;
        width: 100%;
        margin: 1.4rem auto 4.5rem auto;
    }
    
    #Social_media a {
        display: block;
        margin-bottom: 1.5rem;
    }
    
}

/* Fork label */
.forkme{transform:rotate(45deg);background-color:#FFF;overflow:hidden;position:fixed;z-index:300;width:240px;right:-60px;top:46px;border-style:solid;border-color:#7B7979}.forkme a{color:#404040;display:block;font:13px Helvetica Neue,Arial,sans-serif;margin:0.05em 0px 0.075em;padding:0.6em;text-align:center;text-decoration:none}

/* Font */
@font-face {
  font-family: 'Prociono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prociono'), local('Prociono-Regular'), url('fonts/Prociono.ttf') format('truetype');
}

/* Icons */
@font-face {
  font-family: 'Socicon';
  src:  url('fonts/Socicon.eot');
  src:  url('fonts/Socicon.eot#iefix') format('embedded-opentype'),
    url('fonts/Socicon.woff2') format('woff2'),
    url('fonts/Socicon.ttf') format('truetype'),
    url('fonts/Socicon.woff') format('woff'),
    url('fonts/Socicon.svg#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="socicon-"], [class*=" socicon-"] {
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link   { color:#003cc3 }
a:visited{ color:#003cc3 }
a:hover  { color:#004eff }
a:active { color:#004eff }

#Social_media li {
    list-style: none;
    margin-top: 0.5em;
}
