.introduction {
  padding-top: 3em;
}

.introduction img {
  max-width: 10em;
  max-height: 10em;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.introduction .title {
  text-align: center;
}

.introduction .socialMedia {
  text-align: center;
}
