.introduction {
  padding-top: 3em;
}

.introduction img {
  max-width: 10em;
  max-height: 10em;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.introduction .title {
  display: inline-block;

}
