<div class="introduction">
  <div class="socialMedia">
    <app-socialmedia [image]="'assets/about/socialmedia/twitter.png'" [link]="'https://twitter.com/gkboris'"></app-socialmedia>
    <app-socialmedia [image]="'assets/about/socialmedia/instagram.png'" [link]="'https://www.instagram.com/gkboris'"></app-socialmedia>
  </div>
  <img src="assets/about/headshots/boris.jpg" alt="image of Boris not found">
  <h4 class="title">
    Boris van de Ven
  </h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
</div>

<div class="introduction">
  <div class="socialMedia">
    <app-socialmedia [image]="'assets/about/socialmedia/twitter.png'" [link]="'https://twitter.com/jwburgers'"></app-socialmedia>
    <app-socialmedia [image]="'assets/about/socialmedia/linkedin.png'" [link]="'https://nl.linkedin.com/in/jan-willem-burgers-93b22565'"></app-socialmedia>
  </div>
  <img src="assets/about/headshots/jan.jpg" alt="image of Jan not found">
  <h4 class="title">
    Jan-Willem Burgers
  </h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
</div>

<div class="introduction">
  <div class="socialMedia">
    <app-socialmedia [image]="'assets/about/socialmedia/twitter.png'" [link]="'https://twitter.com/aaronvanw'"></app-socialmedia>
    <app-socialmedia [image]="'assets/about/socialmedia/linkedin.png'" [link]="'https://www.linkedin.com/in/aaron-van-wirdum-a4b56a4b'"></app-socialmedia>
  </div>
  <img src="assets/about/headshots/aaron.jpg" alt="image of Aaron not found">
  <h4 class="title">
    Aaron van Wirdum
  </h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
</div>
