#routerOutlet {
  width: 50%;
  margin: auto;
}

#socialMediaIcons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

#footer {
  position: relative;
  text-align: center;
  padding: 10px;
}
