#introduction, #donate {
  padding: 20px;
}

#logo img {
  margin: auto;
  max-width: 600px;
  max-height: 600px;
  display: block;
}

#btcpay input, select {
  text-align: center;
  text-align-last: center;
  display: flex;
  margin: auto;
  height: 40px;
  width: 20%;
}
