<div id="logo">
  <img src="assets/home/debitcoinshow.png" alt="logo not found">
</div>

<div id="introduction">
  <h3>
    Hooggeëerd publiek!
  </h3>
  <p>
    Uw hosts Aaron, Boris en Jan-Willem verwelkomen jullie van harte in de wondere wereld van Bitcoin.
    Elke week bespreekt dit drietal de nieuwswaardigste twisten, de spectaculairste inzichten en de verborgen details
    rondom het magische internetgeld.
  </p>
  <p>
    Licht uit, spot aan, dit is De Bitcoin Show!
  </p>
</div>

<div id="donation">
  <h5>
    Steun De Bitcoin Show
  </h5>
  <div class="donationBanner">
    <input type="image" src="assets/donate/bitcoin.png" alt="Bitcoin image not found" routerLink="/donate/bitcoin">
  </div>
  <div class="donationBanner">
    <input type="image" src="assets/donate/lightning.png" alt="Euro image not found" routerLink="/donate/lightning">
  </div>
  <div class="donationBanner">
    <input type="image" src="assets/donate/euro.png" alt="Euro image not found" routerLink="/donate/euro">
  </div>
</div>
