<div id="announcement">
  <h4>
    Mededeling:
  </h4>
  <p>
    In verband met het corona virus, hebben wij vooralsnog geen nieuwe meetups in de planning. Zodra we weer veilig bij
    elkaar kunnen komen, zullen we weer nieuwe meetups organiseren.
  </p>
</div>
<div id="eventTable">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <td scope="col">Datum & tijd</td>
        <td scope="col">Locatie</td>
        <td scope="col">Meer info</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TBD</td>
        <td><a href="https://blastgalaxy.nl/" target="_blank" >Blast Galaxy</a></td>
        <td><a href="https://www.meetup.com/nl-NL/De-Bitcoin-Meetup/events/269177341/" target="_blank" >Meetup.com</a></td>
      </tr>
    </tbody>
  </table>
</div>
