/* You can add global styles to this file, and also import other style files */

p {
  text-align: justify;
}

.widget{
  background: url('assets/common/spinner.gif') no-repeat center;
  background-size: 2em;
}

.qrCode {
  padding-top: 1em;
  text-align: center;
}
