<div id="anchor">
  <div id="mostRecent">
    <h6>Meest recente episode</h6>
    <iframe src="https://anchor.fm/debitcoinshow/embed" height="102px" width="400px" frameborder="0" scrolling="no" ></iframe>
  </div>
  <div id="favorites">
    <h6>Een greep uit onze favoriete episodes</h6>
    <p>Check alle afleveringen via onze media outlets!</p>
    <iframe src="https://anchor.fm/debitcoinshow/embed/episodes/Episode-65-Willem-Middelkoop-over-Bretton-Woods-2-0-en-de-volgende-fase-van-de-Big-reset-elcf1h/a-a3juv6f" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
    <iframe src="https://anchor.fm/debitcoinshow/embed/episodes/Episode-42-As-the-World-Burns-eeul8r/a-a2ce5ng" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
    <iframe src="https://anchor.fm/debitcoinshow/embed/episodes/Episode-30-QEVID-19-eblbol/a-a1nnmba" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
    <iframe src="https://anchor.fm/debitcoinshow/embed/episodes/Episode-8-PlanB-e6ej69/a-aqvadu" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
    <iframe src="https://anchor.fm/debitcoinshow/embed/episodes/Episode-1-The-Genesis-Pod-e52bpb/a-aleblo" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
